body {
    width: 60%;
}
.identity, #identity {
    background-color: #2C8CBC;
}

.shipping, #shipping {
    background-color: #860B7E;
}

.payment, #payment {
    background-color: #E3255E;
}

.radio-choices {
    margin-left: 25px;
}
