html, body {
    height: 100%;
}

#firstRow {
    display: flex;
    flex-wrap: wrap;
    height: 10%;
}

#secondRow {
    display: flex;
    flex-wrap: wrap;
    height: 20%;
}

#thirdRow {
    display: flex;
    flex-wrap: wrap;
    height: 30%;
}

#others {
    display: flex;
    flex-wrap: wrap;
    width: 66%;
}

#green {
    width: 80%;
    background-color: green;
}

#blue {
    width: 20%;
    background-color: blue;
}

#red {
    width: 34%;
    background-color: red;
}

#orange {
    width: 50%;
    height: 50%;
    background-color: orange;
}

#grey {
    width: 50%;
    height: 50%;
    background-color: grey;
}

#yellow {
    width: 33%;
    height: 50%;
    background-color: yellow;
}

#light-blue {
    width: 33%;
    height: 50%;
    background-color: lightgreen;
}

#dark-orange {
    width: 34%;
    height: 50%;
    background-color: orangered;
}

#dark-blue {
    width: 100%;
    background-color: darkslateblue;
}
